<a href="https://colab.research.google.com/github/Fvidal101/Tech-Academy-Test/blob/master/Python_Test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hello, world')

hello, world

In [3]:
myint=2
print("this is my variable: ", myint)

this is my variable:  2

In [8]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
numbers.append(1)
numbers.append(2)
numbers.append(3)

strings.append("hello")
strings.append("world")

second_name = "hello world"


# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['hello', 'world']
The second name on the names list is hello world

In [9]:
number = 1 + 4 / 4
print(number)

2.0

In [10]:
remainder = 23 % 3
print(remainder)

2

In [12]:
squared = 10 ** 2
cubed = 4 ** 3
print(squared)
print(cubed)

100
64

In [21]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [24]:
even_numbers = [100,200,300,400]
odd_numbers = [11,37,51,77]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[11, 37, 51, 77, 100, 200, 300, 400]

In [26]:
print([1,2,3] * 7)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
x = object()
y = object()

# TODO: change this code
x_list = [x] * 10
y_list = [y] * 10
big_list = x_list + y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great!

In [31]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [33]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [37]:
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%s."

print(format_string % data)

Hello John Doe. Your current balance is $53.44.

In [42]:
astring = "Hello world!"
print("single quotes are ' '")

print(len (astring))

single quotes are ' '
12

In [49]:
astring = "Hello world!"
print(astring.index("l"))

2

In [60]:
astring = "Hello world!"
print(astring[3: ])

lo world!

In [69]:
astring = "Hello world!"
print(astring[3:7:2])

l

In [75]:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

In [87]:
numbers = [1, 2, 3]
strings = ["World "]
names = ["John", "Eric", "Jessica"]

# write your code here
second_name = 'Eric'


# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['World ']
The second name on the names list is Eric

In [11]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!